<div>
    <!--height="900" width="1000"-->
    <iframe width="100%" height="500px" src="3DPayHosting.jsp" style="border: none; overflow: hidden;">
    </iframe>

   <!-- <div id="action_bar">
        <div id="button_ilerle" style="cursor: pointer" ng-click="ilerle()">
            &lt;!&ndash;<a href="#/form" style="display: block" >İlerle</a>&ndash;&gt;
            İlerle
        </div>
    </div>-->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-hide="odemeSonuc" ng-click="iptal()">İptal</button>
        <button type="button" ng-show="odemeSonuc" ng-click="kapat()" class="btn btn-primary">Kapat</button>
    </div>
</div>